Prototipo1/Service References/WSConsultasGenerales/ConsultasGenerales1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_Produccion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_Produccion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParametroDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParametroDetalle" nillable="true" type="tns:ParametroDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParametroDetalle" nillable="true" type="tns:ArrayOfParametroDetalle" />
  <xs:complexType name="ParametroDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdPadre" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametroDetalle" nillable="true" type="tns:ParametroDetalle" />
</xs:schema>