Prototipo1/Service References/WSConsultasGenerales/ConsultasGenerales.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30813/Servicios/ConsultasGenerales.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_Produccion" />
  <xs:element name="ListarParametroDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPadre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarParametroDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="ListarParametroDetalleResult" nillable="true" type="q1:ArrayOfParametroDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>