Prototipo1/Service References/WSMovimientoAlmacenes/Articulos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_Produccion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_Produccion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Articulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdFormulaProduccion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StockActual" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoExistencia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Articulo" nillable="true" type="tns:Articulo" />
</xs:schema>