Prototipo1/Service References/WSMovimientoAlmacenes/MovimientoAlmacenes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MovimientoAlmacenes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:30813/Servicios/MovimientoAlmacenes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:30813/Servicios/MovimientoAlmacenes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:30813/Servicios/MovimientoAlmacenes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_Produccion" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMovimientoAlmacenes_crearMov_InputMessage">
    <wsdl:part name="parameters" element="tns:crearMov" />
  </wsdl:message>
  <wsdl:message name="IMovimientoAlmacenes_crearMov_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearMovResponse" />
  </wsdl:message>
  <wsdl:message name="IMovimientoAlmacenes_obtenerMov_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMov" />
  </wsdl:message>
  <wsdl:message name="IMovimientoAlmacenes_obtenerMov_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMovResponse" />
  </wsdl:message>
  <wsdl:message name="IMovimientoAlmacenes_modificarMov_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarMov" />
  </wsdl:message>
  <wsdl:message name="IMovimientoAlmacenes_modificarMov_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarMovResponse" />
  </wsdl:message>
  <wsdl:message name="IMovimientoAlmacenes_eliminarMov_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMov" />
  </wsdl:message>
  <wsdl:message name="IMovimientoAlmacenes_eliminarMov_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMovResponse" />
  </wsdl:message>
  <wsdl:message name="IMovimientoAlmacenes_listarMov_InputMessage">
    <wsdl:part name="parameters" element="tns:listarMov" />
  </wsdl:message>
  <wsdl:message name="IMovimientoAlmacenes_listarMov_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarMovResponse" />
  </wsdl:message>
  <wsdl:portType name="IMovimientoAlmacenes">
    <wsdl:operation name="crearMov">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovimientoAlmacenes/crearMov" message="tns:IMovimientoAlmacenes_crearMov_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovimientoAlmacenes/crearMovResponse" message="tns:IMovimientoAlmacenes_crearMov_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerMov">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovimientoAlmacenes/obtenerMov" message="tns:IMovimientoAlmacenes_obtenerMov_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovimientoAlmacenes/obtenerMovResponse" message="tns:IMovimientoAlmacenes_obtenerMov_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarMov">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovimientoAlmacenes/modificarMov" message="tns:IMovimientoAlmacenes_modificarMov_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovimientoAlmacenes/modificarMovResponse" message="tns:IMovimientoAlmacenes_modificarMov_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarMov">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovimientoAlmacenes/eliminarMov" message="tns:IMovimientoAlmacenes_eliminarMov_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovimientoAlmacenes/eliminarMovResponse" message="tns:IMovimientoAlmacenes_eliminarMov_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarMov">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovimientoAlmacenes/listarMov" message="tns:IMovimientoAlmacenes_listarMov_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovimientoAlmacenes/listarMovResponse" message="tns:IMovimientoAlmacenes_listarMov_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMovimientoAlmacenes" type="tns:IMovimientoAlmacenes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearMov">
      <soap:operation soapAction="http://tempuri.org/IMovimientoAlmacenes/crearMov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerMov">
      <soap:operation soapAction="http://tempuri.org/IMovimientoAlmacenes/obtenerMov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarMov">
      <soap:operation soapAction="http://tempuri.org/IMovimientoAlmacenes/modificarMov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarMov">
      <soap:operation soapAction="http://tempuri.org/IMovimientoAlmacenes/eliminarMov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarMov">
      <soap:operation soapAction="http://tempuri.org/IMovimientoAlmacenes/listarMov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovimientoAlmacenes">
    <wsdl:port name="BasicHttpBinding_IMovimientoAlmacenes" binding="tns:BasicHttpBinding_IMovimientoAlmacenes">
      <soap:address location="http://localhost:30813/Servicios/MovimientoAlmacenes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>