Prototipo1/Service References/WSReportes/ReportService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30813/Servicios/ReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_Produccion" />
  <xs:element name="obtenerOrden">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerOrdenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="obtenerOrdenResult" nillable="true" type="q1:OrdenTrabajo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEficiencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechFinal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEficienciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="ListarEficienciaResult" nillable="true" type="q2:ArrayOfOrdenTrabajo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>