Prototipo1/Service References/WSReportes/ReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:30813/Servicios/ReportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:30813/Servicios/ReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:30813/Servicios/ReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_Produccion" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportService_obtenerOrden_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerOrden" />
  </wsdl:message>
  <wsdl:message name="IReportService_obtenerOrden_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerOrdenResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_ListarEficiencia_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEficiencia" />
  </wsdl:message>
  <wsdl:message name="IReportService_ListarEficiencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEficienciaResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportService">
    <wsdl:operation name="obtenerOrden">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/obtenerOrden" message="tns:IReportService_obtenerOrden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/obtenerOrdenResponse" message="tns:IReportService_obtenerOrden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEficiencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/ListarEficiencia" message="tns:IReportService_ListarEficiencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/ListarEficienciaResponse" message="tns:IReportService_ListarEficiencia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportService" type="tns:IReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerOrden">
      <soap:operation soapAction="http://tempuri.org/IReportService/obtenerOrden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEficiencia">
      <soap:operation soapAction="http://tempuri.org/IReportService/ListarEficiencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="BasicHttpBinding_IReportService" binding="tns:BasicHttpBinding_IReportService">
      <soap:address location="http://localhost:30813/Servicios/ReportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>