WS-ProduccionTest/Service References/MovAlmWS/MovimientoAlmacenes3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_Produccion.Excepciones" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_Produccion.Excepciones" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Errores">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="des" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Errores" nillable="true" type="tns:Errores" />
</xs:schema>