WS-ProduccionTest/Service References/GesMovWS/GestionarMovimiento1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30813/Servicios/GestionarMovimiento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_Produccion" />
  <xs:element name="CrearMov">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="movCrear" nillable="true" type="q1:Movimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMovResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="CrearMovResult" nillable="true" type="q2:Movimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMov">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMovResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="obtenerMovResult" nillable="true" type="q3:Movimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="grabarMov">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="movGrabar" nillable="true" type="q4:Movimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="grabarMovResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="grabarMovResult" nillable="true" type="q5:Movimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarMov">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarMovResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarMov">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarMovResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="listarMovResult" nillable="true" type="q6:ArrayOfMovimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>