WS-ProduccionTest/Service References/GesMovWS/GestionarMovimiento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GestionarMovimiento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:30813/Servicios/GestionarMovimiento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:30813/Servicios/GestionarMovimiento.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WS_Produccion.Excepciones" />
      <xsd:import schemaLocation="http://localhost:30813/Servicios/GestionarMovimiento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:30813/Servicios/GestionarMovimiento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_Produccion" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGestionarMovimiento_CrearMov_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearMov" />
  </wsdl:message>
  <wsdl:message name="IGestionarMovimiento_CrearMov_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearMovResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionarMovimiento_CrearMov_ErroresFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WS_Produccion.Excepciones" name="detail" element="q1:Errores" />
  </wsdl:message>
  <wsdl:message name="IGestionarMovimiento_obtenerMov_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMov" />
  </wsdl:message>
  <wsdl:message name="IGestionarMovimiento_obtenerMov_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMovResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionarMovimiento_grabarMov_InputMessage">
    <wsdl:part name="parameters" element="tns:grabarMov" />
  </wsdl:message>
  <wsdl:message name="IGestionarMovimiento_grabarMov_OutputMessage">
    <wsdl:part name="parameters" element="tns:grabarMovResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionarMovimiento_borrarMov_InputMessage">
    <wsdl:part name="parameters" element="tns:borrarMov" />
  </wsdl:message>
  <wsdl:message name="IGestionarMovimiento_borrarMov_OutputMessage">
    <wsdl:part name="parameters" element="tns:borrarMovResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionarMovimiento_listarMov_InputMessage">
    <wsdl:part name="parameters" element="tns:listarMov" />
  </wsdl:message>
  <wsdl:message name="IGestionarMovimiento_listarMov_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarMovResponse" />
  </wsdl:message>
  <wsdl:portType name="IGestionarMovimiento">
    <wsdl:operation name="CrearMov">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionarMovimiento/CrearMov" message="tns:IGestionarMovimiento_CrearMov_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionarMovimiento/CrearMovResponse" message="tns:IGestionarMovimiento_CrearMov_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGestionarMovimiento/CrearMovErroresFault" name="ErroresFault" message="tns:IGestionarMovimiento_CrearMov_ErroresFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerMov">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionarMovimiento/obtenerMov" message="tns:IGestionarMovimiento_obtenerMov_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionarMovimiento/obtenerMovResponse" message="tns:IGestionarMovimiento_obtenerMov_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="grabarMov">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionarMovimiento/grabarMov" message="tns:IGestionarMovimiento_grabarMov_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionarMovimiento/grabarMovResponse" message="tns:IGestionarMovimiento_grabarMov_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="borrarMov">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionarMovimiento/borrarMov" message="tns:IGestionarMovimiento_borrarMov_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionarMovimiento/borrarMovResponse" message="tns:IGestionarMovimiento_borrarMov_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarMov">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionarMovimiento/listarMov" message="tns:IGestionarMovimiento_listarMov_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionarMovimiento/listarMovResponse" message="tns:IGestionarMovimiento_listarMov_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGestionarMovimiento" type="tns:IGestionarMovimiento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearMov">
      <soap:operation soapAction="http://tempuri.org/IGestionarMovimiento/CrearMov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErroresFault">
        <soap:fault use="literal" name="ErroresFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerMov">
      <soap:operation soapAction="http://tempuri.org/IGestionarMovimiento/obtenerMov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="grabarMov">
      <soap:operation soapAction="http://tempuri.org/IGestionarMovimiento/grabarMov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borrarMov">
      <soap:operation soapAction="http://tempuri.org/IGestionarMovimiento/borrarMov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarMov">
      <soap:operation soapAction="http://tempuri.org/IGestionarMovimiento/listarMov" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionarMovimiento">
    <wsdl:port name="BasicHttpBinding_IGestionarMovimiento" binding="tns:BasicHttpBinding_IGestionarMovimiento">
      <soap:address location="http://localhost:30813/Servicios/GestionarMovimiento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>