Prototipo1/Service References/WSOrdenesTrabajos/OrdenTrabajos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrdenTrabajos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:30813/Servicios/OrdenTrabajos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:30813/Servicios/OrdenTrabajos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:30813/Servicios/OrdenTrabajos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_Produccion" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrdenTrabajos_crearOrd_InputMessage">
    <wsdl:part name="parameters" element="tns:crearOrd" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajos_crearOrd_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearOrdResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajos_obtenerOrd_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerOrd" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajos_obtenerOrd_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerOrdResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajos_modificarOrd_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarOrd" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajos_modificarOrd_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarOrdResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajos_eliminarOrd_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarOrd" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajos_eliminarOrd_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarOrdResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajos_listarOrd_InputMessage">
    <wsdl:part name="parameters" element="tns:listarOrd" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajos_listarOrd_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarOrdResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajoDetalle_crearOrdDet_InputMessage">
    <wsdl:part name="parameters" element="tns:crearOrdDet" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajoDetalle_crearOrdDet_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearOrdDetResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajoDetalle_obtenerOrdDet_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerOrdDet" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajoDetalle_obtenerOrdDet_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerOrdDetResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajoDetalle_modificarOrdDet_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarOrdDet" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajoDetalle_modificarOrdDet_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarOrdDetResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajoDetalle_eliminarOrdDet_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarOrdDet" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajoDetalle_eliminarOrdDet_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarOrdDetResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajoDetalle_listarOrdDet_InputMessage">
    <wsdl:part name="parameters" element="tns:listarOrdDet" />
  </wsdl:message>
  <wsdl:message name="IOrdenTrabajoDetalle_listarOrdDet_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarOrdDetResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrdenTrabajos">
    <wsdl:operation name="crearOrd">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenTrabajos/crearOrd" message="tns:IOrdenTrabajos_crearOrd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenTrabajos/crearOrdResponse" message="tns:IOrdenTrabajos_crearOrd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerOrd">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenTrabajos/obtenerOrd" message="tns:IOrdenTrabajos_obtenerOrd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenTrabajos/obtenerOrdResponse" message="tns:IOrdenTrabajos_obtenerOrd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarOrd">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenTrabajos/modificarOrd" message="tns:IOrdenTrabajos_modificarOrd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenTrabajos/modificarOrdResponse" message="tns:IOrdenTrabajos_modificarOrd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarOrd">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenTrabajos/eliminarOrd" message="tns:IOrdenTrabajos_eliminarOrd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenTrabajos/eliminarOrdResponse" message="tns:IOrdenTrabajos_eliminarOrd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarOrd">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenTrabajos/listarOrd" message="tns:IOrdenTrabajos_listarOrd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenTrabajos/listarOrdResponse" message="tns:IOrdenTrabajos_listarOrd_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IOrdenTrabajoDetalle">
    <wsdl:operation name="crearOrdDet">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenTrabajoDetalle/crearOrdDet" message="tns:IOrdenTrabajoDetalle_crearOrdDet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenTrabajoDetalle/crearOrdDetResponse" message="tns:IOrdenTrabajoDetalle_crearOrdDet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerOrdDet">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenTrabajoDetalle/obtenerOrdDet" message="tns:IOrdenTrabajoDetalle_obtenerOrdDet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenTrabajoDetalle/obtenerOrdDetResponse" message="tns:IOrdenTrabajoDetalle_obtenerOrdDet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarOrdDet">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenTrabajoDetalle/modificarOrdDet" message="tns:IOrdenTrabajoDetalle_modificarOrdDet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenTrabajoDetalle/modificarOrdDetResponse" message="tns:IOrdenTrabajoDetalle_modificarOrdDet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarOrdDet">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenTrabajoDetalle/eliminarOrdDet" message="tns:IOrdenTrabajoDetalle_eliminarOrdDet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenTrabajoDetalle/eliminarOrdDetResponse" message="tns:IOrdenTrabajoDetalle_eliminarOrdDet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarOrdDet">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenTrabajoDetalle/listarOrdDet" message="tns:IOrdenTrabajoDetalle_listarOrdDet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenTrabajoDetalle/listarOrdDetResponse" message="tns:IOrdenTrabajoDetalle_listarOrdDet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrdenTrabajos" type="tns:IOrdenTrabajos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearOrd">
      <soap:operation soapAction="http://tempuri.org/IOrdenTrabajos/crearOrd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerOrd">
      <soap:operation soapAction="http://tempuri.org/IOrdenTrabajos/obtenerOrd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarOrd">
      <soap:operation soapAction="http://tempuri.org/IOrdenTrabajos/modificarOrd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarOrd">
      <soap:operation soapAction="http://tempuri.org/IOrdenTrabajos/eliminarOrd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarOrd">
      <soap:operation soapAction="http://tempuri.org/IOrdenTrabajos/listarOrd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IOrdenTrabajoDetalle" type="tns:IOrdenTrabajoDetalle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearOrdDet">
      <soap:operation soapAction="http://tempuri.org/IOrdenTrabajoDetalle/crearOrdDet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerOrdDet">
      <soap:operation soapAction="http://tempuri.org/IOrdenTrabajoDetalle/obtenerOrdDet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarOrdDet">
      <soap:operation soapAction="http://tempuri.org/IOrdenTrabajoDetalle/modificarOrdDet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarOrdDet">
      <soap:operation soapAction="http://tempuri.org/IOrdenTrabajoDetalle/eliminarOrdDet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarOrdDet">
      <soap:operation soapAction="http://tempuri.org/IOrdenTrabajoDetalle/listarOrdDet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrdenTrabajos">
    <wsdl:port name="BasicHttpBinding_IOrdenTrabajos" binding="tns:BasicHttpBinding_IOrdenTrabajos">
      <soap:address location="http://localhost:30813/Servicios/OrdenTrabajos.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IOrdenTrabajoDetalle" binding="tns:BasicHttpBinding_IOrdenTrabajoDetalle">
      <soap:address location="http://localhost:30813/Servicios/OrdenTrabajos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>