Prototipo1/Service References/WSOrdenesTrabajos/OrdenTrabajos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_Produccion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_Produccion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrdenTrabajo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ListaDetalleOrdenTrabajo" nillable="true" type="tns:ArrayOfOrdenTrabajoDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenTrabajo" nillable="true" type="tns:OrdenTrabajo" />
  <xs:complexType name="ArrayOfOrdenTrabajoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdenTrabajoDetalle" nillable="true" type="tns:OrdenTrabajoDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdenTrabajoDetalle" nillable="true" type="tns:ArrayOfOrdenTrabajoDetalle" />
  <xs:complexType name="OrdenTrabajoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Articulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdArticulo" type="xs:int" />
      <xs:element minOccurs="0" name="IdOrdenTrabajo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenTrabajoDetalle" nillable="true" type="tns:OrdenTrabajoDetalle" />
  <xs:complexType name="ArrayOfOrdenTrabajo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdenTrabajo" nillable="true" type="tns:OrdenTrabajo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdenTrabajo" nillable="true" type="tns:ArrayOfOrdenTrabajo" />
</xs:schema>