Prototipo1/Service References/WSOrdenesTrabajos/OrdenTrabajos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30813/Servicios/OrdenTrabajos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_Produccion" />
  <xs:element name="crearOrd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="ordCrear" nillable="true" type="q1:OrdenTrabajo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearOrdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="crearOrdResult" nillable="true" type="q2:OrdenTrabajo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerOrd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerOrdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="obtenerOrdResult" nillable="true" type="q3:OrdenTrabajo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarOrd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="ordModificar" nillable="true" type="q4:OrdenTrabajo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarOrdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="modificarOrdResult" nillable="true" type="q5:OrdenTrabajo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarOrd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarOrdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarOrd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarOrdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="listarOrdResult" nillable="true" type="q6:ArrayOfOrdenTrabajo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearOrdDet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="ordDetCrear" nillable="true" type="q7:OrdenTrabajoDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearOrdDetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerOrdDet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerOrdDetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="obtenerOrdDetResult" nillable="true" type="q8:OrdenTrabajoDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarOrdDet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="ordDetModificar" nillable="true" type="q9:OrdenTrabajoDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarOrdDetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarOrdDet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarOrdDetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarOrdDet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOrdenTrabajo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarOrdDetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WS_Produccion" minOccurs="0" name="listarOrdDetResult" nillable="true" type="q10:ArrayOfOrdenTrabajoDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>